@model ComputerASP.Models.ProfitBill

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Покупка комплектующих</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseComponentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePCComponent.Model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierFirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumPrice)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "ProfitBills", new { id = Model.PurchaseId })" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>Редактировать</a> |
    <a href="@Url.Action("Index", "ProfitBills")" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-left"></i>Вернуться назад</a>
</p>

