@model ComputerASP.Models.RetailInvoice

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Розничная накладная</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseComponentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseComponentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a href="@Url.Action("Index", "RetailInvoices")" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-left"></i>Вернуться назад</a>
</div>
    }
</div>
