@model  PagedList.PagedList<ComputerASP.Models.RetailInvoice>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Розничная накладная</h2>

<p>
    <a href="@Url.Action("Create", "RetailInvoices")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Создать</a>
</p>
@using (Html.BeginForm("Index", "RetailInvoices", FormMethod.Get))
{
    <p>
        Поиск по моделе FIO:@Html.TextBox("SearchString", null, new { @class = "clbt" })

    </p>
    <input type="submit" value="Фильтр" class="btn btn-outline-primary" />
    <a href="@Url.Action("Index", "RetailInvoices")" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-left"></i>Вернуться назад</a>
}
<table class="table">
    <tr style="background-color:#333; color:#CBCBCB;">
        <th style="width:60px">
            Комплектующие со склада
        </th>
        <th style="width:60px">
            Цена за единицу
        </th>
        <th style="width:120px">
            Фио сотрудника
        </th>
        <th style="width:60px">
            Дата продажи
        </th>
        <th style="width:60px">
            Цена
        </th>
        <th style="width:60px">
            Сумма
        </th>

    </tr>
    @if (Model.Count() == 0)
    {
        <h2 align="center">Данные не найдены</h2>
        <h3 align="center">Введите коректные данные</h3>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr style="background-color:#333; color:#CBCBCB;">
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.WarehouseComponentId)
                </td>
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.Employee.FIO)
                </td>
                <td style="height:70px;">
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>


                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.SumPrice)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "RetailInvoices", new { id = item.SaleId })" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>Редактировать</a>
                    <a href="@Url.Action("Details", "RetailInvoices", new { id = item.SaleId })" class="btn btn-info"><i class="glyphicon glyphicon-list-alt"></i>Детали</a>
                    <a href="@Url.Action("Delete", "RetailInvoices", new { id = item.SaleId })" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>Удалить</a>
                </td>
            </tr>
        }
    }
    </table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        }
        )
    </script>
}