@model ComputerASP.Models.Model

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Компоненты</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Component.ComponentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Component.ComponentName)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Modelss", new { id=Model.ModelId})" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>Редактировать</a> |
    <a href="@Url.Action("Index", "Modelss")" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-left"></i>Вернуться назад</a>
</p>
