@model ComputerASP.Models.AssemblyPc

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Сборка ПК</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacteristicPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacteristicPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAssemblyPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAssemblyPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssemblyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssemblyPrice)
        </dd>



    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "AssemblyPCs", new { id = Model.AssemblyPCId})" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>Редактировать</a> |
    <a href="@Url.Action("Index", "AssemblyPCs")" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-left"></i>Вернуться назад</a>
</p>
