@model ComputerASP.Models.ReadyPC

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Готовые ПК</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierFirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacteristicPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacteristicPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a href="@Url.Action("Index", "ReadyPCs")" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-left"></i>Вернуться назад</a>
</div>
    }
</div>
