@model IEnumerable<ComputerASP.Models.ReadyPC>

@{
    ViewBag.Title = "Index";
}

<h2>Готовые ПК</h2>

<p>
    <a href="@Url.Action("Create", "ReadyPCs")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Создать</a>
</p>

@using (Html.BeginForm("Index", "ReadyPCs", FormMethod.Get))
{
    <p>
        Поиск по названию ПК:@Html.TextBox("SearchString", null, new { @class = "form-control"})

    </p>
    <input type="submit" value="Фильтр" class="btn btn-outline-primary" />
    <a href="@Url.Action("Index", "ReadyPCs")" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-left"></i>Вернуться назад</a>
}
<table class="table">
    <tr style="background-color:#333; color:#CBCBCB;">
        <th style="width:60px">
            Поставщик
        </th>
        <th style="width:60px">
            Дата покупки
        </th>
        <th style="width:120px">
            Цена
        </th>
        <th style="width:60px">
            Наименование ПК
        </th>
        <th style="width:60px">
            Характеристика ПК
        </th>
        <th style="width:60px">
            Количество
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <h2 align="center">Данные не найдены</h2>
        <h3 align="center">Введите коректные данные</h3>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr style="background-color:#333; color:#CBCBCB;">
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierId)
                </td>
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                <td style="height:70px;">
                    @Html.DisplayFor(modelItem => item.PCName)
                </td>
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.CharacteristicPC)
                </td>
                <td style="height:70px">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "ReadyPCs", new { id = item.ReadyPCId })" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>Редактировать</a>
                    <a href="@Url.Action("Details", "ReadyPCs", new { id = item.ReadyPCId })" class="btn btn-info"><i class="glyphicon glyphicon-list-alt"></i>Детали</a>
                    <a href="@Url.Action("Delete", "ReadyPCs", new { id = item.ReadyPCId })" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>Удалить</a>
                </td>
            </tr>
        }
    }
    </table>


@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        }
        )
    </script>
}